@tailwind base;
@tailwind components;
@tailwind utilities;


.link_hover {
    @apply hover:text-gray-700   
}

.btn_main {
    @apply px-5 py-2 rounded-full flex justify-center items-center gap-2
}

.btn_second {
    @apply px-5 py-3 rounded-xl flex justify-center items-center gap-2
}

.btn_disabled{
    @apply bg-gray-500
}

.mobile_active {
    transform: translateX(100%)
}

.custom_shadow-top{
    -webkit-box-shadow: 0.5px -4px 5px -0.5px rgba(222, 222, 222, 0.2);
    -moz-box-shadow: 0.5px -4px 5px -0.5px rgba(222, 222, 222, 0.2);
     box-shadow: 0.5px -4px 5px -0.5px rgba(222, 222, 222, 0.2);
}

.custom_shadow-left{
    -webkit-box-shadow: -4px 0 5.5px -0.5px rgba(222, 222, 222, 0.2);
    -moz-box-shadow: -4px 0 5.5px -0.5px rgba(222, 222, 222, 0.2);
    box-shadow: -4px 0 5.5px -0.5px rgba(222, 222, 222, 0.2);
}

input[type='text']:disabled {
   @apply border-gray-200
}


/* ------------------------------------------------------ */
/* Spinner */
.spinner {
    width: 20px;
    height: 20px;
    display: grid;
    animation: spinner-plncf9 4s infinite;
 }
 
 .spinner::before,
 .spinner::after {
    content: "";
    grid-area: 1/1;
    border: 4px solid;
    border-radius: 50%;
    border-color: #e77917 #e77917 #0000 #0000;
    mix-blend-mode: darken;
    animation: spinner-plncf9 1s infinite linear;
 }
 
 .spinner::after {
    border-color: #0000 #0000 #f7ceab #f7ceab;
    animation-direction: reverse;
 }
 
 @keyframes spinner-plncf9 {
    100% {
       transform: rotate(1turn);
    }
 }
 /* ------------------------------------------------------ */